
*.copy
*.dat
*.insert
*.txt
src/IMPORT/length_change/COPY_lc.sql
src/CREATE/test/glrw_test.sql
*.json
*.csv
*.geojson
src/EXPORT/glamos_export.private.config
dumps/*
src/BACKUP/BACKUP_glamos-db_20220927
src/BACKUP/mass_balance.elevation_distribution_20221021
src/BACKUP/mass_balance.glacier_seasonal_20221021
src/BACKUP/BACKUP_glamos-db_20230926
