[general]
introduction_data     = The data of the Swiss Glacier Monitoring Network (GLAMOS) are freely available (https://www.glamos.ch) and may be used with indication of the source for scientific and non-commercial use.
introduction_citation = When using these data, please cite as:


[lengthchange]
filename      = lengthchange_2018_r2018.csv
statement     = SELECT * FROM length_change.csv_length_change_data;
title         = SWISS GLACIER LENGTH CHANGE
citation      = GLAMOS (2018). Swiss Glacier Length Change, release 2018, Glacier Monitoring Switzerland, doi:10.18750/lengthchange.2018.r2018.


[massbalance_observation]
filename      = massbalance_observation_2018_r2018.csv
statement     = SELECT * FROM mass_balance.csv_mass_balance_observation_data;
title         = SWISS GLACIER MASS BALANCE (OBSERVATION PERIOD)
citation      = GLAMOS (2018). Swiss Glacier Mass Balance, release 2018, Glacier Monitoring Switzerland, doi:10.18750/massbalance.2018.r2018.

[massbalance_observation_elevationbins]
filename      = massbalance_observation_elevationbins_2018_r2018.csv
statement     = SELECT * FROM mass_balance.csv_mass_balance_observation_elevation_bins_data;
title         = SWISS GLACIER MASS BALANCE (OBSERVATION PERIOD) ELEVATION BINS
citation      = GLAMOS (2018). Swiss Glacier Mass Balance, release 2018, Glacier Monitoring Switzerland, doi:10.18750/massbalance.2018.r2018.

[massbalance_fixedate]
filename      = massbalance_fixdate_2018_r2018.csv
statement     = SELECT * FROM mass_balance.csv_mass_balance_fix_date_data;
title         = SWISS GLACIER MASS BALANCE (HYDROLOGICAL YEAR))
citation      = GLAMOS (2018). Swiss Glacier Mass Balance, release 2018, Glacier Monitoring Switzerland, doi:10.18750/massbalance.2018.r2018.

[massbalance_fixedate_elevationbins]
filename      = massbalance_fixdate_elevationbins_2018_r2018.csv
statement     = SELECT * FROM mass_balance.csv_mass_balance_fix_date_elevation_bins_data;
title         = SWISS GLACIER MASS BALANCE (HYDROLOGICAL YEAR) ELEVATION BINS
citation      = GLAMOS (2018). Swiss Glacier Mass Balance, release 2018, Glacier Monitoring Switzerland, doi:10.18750/massbalance.2018.r2018.


[volumechange]
filename      = volumechange_2018_r2018.csv
statement     = SELECT * FROM volume_change.csv_volume_change_data;
title         = SWISS GLACIER VOLUME CHANGE (GEODETIC MASS BALANCE)
citation      = GLAMOS (2018). Swiss Glacier Volume Change, release 2018, Glacier Monitoring Switzerland, doi:10.18750/volumechange.2018.r2018.


[glacier_list]
filename      = glacier_list.csv
statement     = SELECT * FROM base_data.csv_glacier_list;
title         = SWISS GLACIER LIST (AVAILABLE DATA)
citation      = GLAMOS (1881-2018). The Swiss Glaciers 1880-2016/17, Glaciological Reports No 1-138, Yearbooks of the Cryospheric Commission of the Swiss Academy of Sciences (SCNAT), published since 1964 by VAW / ETH Zurich, doi:10.18752/glrep_series.