[general]
introduction_data     = The data of the Swiss Glacier Monitoring Network (GLAMOS) are freely available (https://www.glamos.ch) and may be used with indication of the source for scientific and non-commercial use.
introduction_citation = When using these data, please cite as:

[length_change]
filename      = lengthchange.csv

statement     = SELECT * FROM length_change.csv_length_change_data;

title         = SWISS GLACIER LENGTH CHANGE
citation      = GLAMOS (2018). Swiss Glacier Length Change, release 2018, Glacier Monitoring Switzerland, doi:10.18750/lengthchange.2018.r2018.



[mass_balance_observation]
filename      = massbalance_observation.csv

statement     = SELECT * FROM mass_balance.csv_mass_balance_observation_data;

title         = SWISS GLACIER MASS BALANCE (OBSERVATION PERIOD)
citation      = GLAMOS (2018). Swiss Glacier Mass Balance, release 2018, Glacier Monitoring Switzerland, doi:10.18750/massbalance.2018.r2018.


[mass_balance_observation_elevationbins]
filename      = mass_balance_observation_elevationbins.csv

statement     = SELECT * FROM mass_balance.csv_mass_balance_observation_elevation_bins_data;

title         = SWISS GLACIER MASS BALANCE (OBSERVATION PERIOD) ELEVATION BINS
citation      = GLAMOS (2018). Swiss Glacier Mass Balance, release 2018, Glacier Monitoring Switzerland, doi:10.18750/massbalance.2018.r2018.


[mass_balance_fixedate]
filename      = massbalance_fixdate.csv

statement     = SELECT * FROM mass_balance.csv_mass_balance_fix_date_data;

title         = SWISS GLACIER MASS BALANCE (HYDROLOGICAL YEAR))
citation      = GLAMOS (2018). Swiss Glacier Mass Balance, release 2018, Glacier Monitoring Switzerland, doi:10.18750/massbalance.2018.r2018.


[mass_balance_fixedate_elevationbins]
filename      = massbalance_fixdate_elevationbins.csv

statement     = SELECT * FROM mass_balance.csv_mass_balance_fix_data_elevation_bins_data;

title         = SWISS GLACIER MASS BALANCE (HYDROLOGICAL YEAR) ELEVATION BINS
citation      = GLAMOS (2018). Swiss Glacier Mass Balance, release 2018, Glacier Monitoring Switzerland, doi:10.18750/massbalance.2018.r2018.




[volume_change]

filename      = volumechange.csv

statement     = SELECT * FROM volume_change.csv_volume_change_data;

title         = SWISS GLACIER VOLUME CHANGE (GEODETIC MASS BALANCE)
citation      = GLAMOS (2018). Swiss Glacier Volume Change, release 2018, Glacier Monitoring Switzerland, doi:10.18750/volumechange.2018.r2018.